<div class="span10">
	<h2>The satellite imagrey for <%= @satellite.city %>, <%= @satellite.location %></h2>
	<hr/>
</div>
<%= image_tag @satellite.image %>
<br/>
<br/>
<%= link_to('New Search', satellite_path, class: 'btn btn-primary') %> 