<h1>About us</h1>
<div class="span10">
	This website was developed by Brandon Bell during the 2013 spring semester for a senior project class
	at CSU Chico. The weather information was retrieved from Wunderground by using their api.<br/>
	<%= image_tag("wunderground.jpg")%>
</div>
